span {
    color: blue;
    font-size: 15px;
}

h2 {
    color: aqua;
    font-family: 15px;
}

#header{
    color: aquamarine;
}

p{
    color:blue;
    
}

.highlight{
    color: green;
    font-weight: bold;
}

.center{
    text-align: center;
    color: red;
}

p#contents{
    color: cadetblue;
}

a[title]{
    text-decoration: underline dotted;
}

h1, h2, h3{
    color: darkgreen;
}

article > p {
    font-family: "Courier New", "Courier, monospace;
}

article p{
    font-size: 18px;
}

h2 + p {
    font-weight: bold;
}

h2 ~ p{
    font-style: italic;
}


/* Це домашне завдання урок 5 
.foto img {
    width: 200px;
    height: 200px;
*/

/* Це урок #6 */

    /*box-sizing: border-box;*/
    /*margin: 20px;
    padding: 25px;
    /*border: 2px dashed black;
    border-radius: 50px;
    background: url(images/unsplash.jpg);
    background-size: cover;
    position: sticky;
    top: 10px;
    
}
 */

/* Це домашне завдання урок 8 */
.foto img {
    width: 200px;
    height: 200px;
    margin: 20px;
    padding: 25px;
    border-radius: 50px;
    background: url(images/unsplash.jpg);
    background-size: cover;
    position: absolute;
    top: 10px;
    right: 50px;
    
}



/* Це домашне завдання урок #6 
.button{
    background-color: green;
    color: white;
    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 40px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    display: block;
}
*/

/* Це домашне завдання урок #7 */
.button{
    background-color: green;
    color: white;
    padding: 20px 40px 20px 40px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    display: block;
}

.Customizing{
    background-color: blue;
    color: white;
    padding: 20px 40px 20px 40px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    display: inline;
}

.Using{
    background-color: blueviolet;
    color: white;
    padding: 20px 40px 20px 40px;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    display: inline-block;
}



/*
button:hover {
    background-color: darkblue; 
}
*/






