span {
    color: blue;
    font-size: 15px;
}

h2 {
    color: aqua;
    font-family: 15px;
}

#header{
    color: aquamarine;
}

p{
    color:blue;
    
}

.highlight{
    color: green;
    font-weight: bold;
}

.center{
    text-align: center;
    color: red;
}

p#contents{
    color: cadetblue;
}

a[title]{
    text-decoration: underline dotted;
}

h1, h2, h3{
    color: darkgreen;
}

article > p {
    font-family: "Courier New", "Courier, monospace;
}

article p{
    font-size: 18px;
}

h2 + p {
    font-weight: bold;
}

h2 ~ p{
    font-style: italic;
}


/* Це домашне завдання урок 5 */
.foto img {
    width: 200px;
    height: 200px;
    padding: 10px;
    border: 5px solid black;
    margin: 20px;
    box-sizing: border-box;
}





